In [13]:
#Based on English Dictionary
# Letter by letter comparison
# If a word has a smaller letter: it appears first
print ('love'<'zebra') # True
#1 is before z
print ('love' <'Long')
# False: lo are common, but v > n
print ( 'love'!='Long') # True
 # If one word is done in comparison: the smaller in length comes first
print ( 'counter'<'counterattack')
# True

# Upper letters are smaller than small letters
print('A'<'a')
# True
print('A'<'z')
# True
print('2'<'a')
# True

True
False
True
True
True
True
True

In [12]:
print ('loVE'<'Long')
#True V< n

False

In [10]:
print('LoVE'<'Love')
# True V <V

True

In [25]:
num = 1
num = num * 10 + 2
num = num * 10 + 3
num = num * 10 + 4
num = num * 10 + 5
num = num * 10 + 6
print(num)

123456

In [20]:
print(my_name)
my_name = 'mostafa'

NameError: name 'my_name' is not defined

In [24]:
num = 1
num = num * 10 + 2
num = num * 10 + 3
num = num * 10 + 4
num = num * 10 + 5
num = num * 10 + 6
 print(num)

IndentationError: unexpected indent (<ipython-input-24-815512c36986>, line 7)

In [29]:
answer = min(3, 6)
print(answer)
# 3
answer=min(3, 6,-2)
print(answer)
#-2
answer= max(9, 6, -2,15)
print (answer)
# 15
# nested Function calls
# max (4.7) computed first
#=> 7 # print (7)
#=>7
print ( max(4,7) )
print( max (4,7)+2)
#7
#9

3
-2
15
7
9

In [30]:
x=input ('Enter First Number')

Enter First Number15

In [31]:
print (x)

15

In [32]:

type(x)

str

In [33]:
x1 =int(x)

In [35]:
type(x1)

int

In [36]:
number1 = float (input ('Enter The First Number'))
print (type (number1))

Enter The First Number25
<class 'float'>

In [37]:

number2 = float (input ('Enter The Second Number'))
print(type(number2))

Enter The Second Number5
<class 'float'>

In [38]:
max(number1, number2)

25.0

In [39]:
print (int (number1+number2) )

30

In [104]:
def summ( number1, number2):
    su=number1+number2
    return summ

In [105]:
number1 = float(input('Enter The Number') )

Enter The Number25

In [106]:
number2 = float(input('Enter The Number') )

Enter The Number5

In [107]:
print(summ(number1, number2))

<function summ at 0x00000258C1170EE0>

In [100]:
name=str(input('Enter The Number: ') )

Enter The Number: mayar magdy

In [63]:
print(len(name))

11

In [64]:
name=str(input('Enter The Number: ') )

Enter The Number: mayarmagdy

In [65]:
print(len(name))

10

In [110]:
name=input ("enter your name")

enter your namemayar magdy

In [116]:
def name (name) :
    name=str (input ("enter your name") )
    y=len (name)
    return name

In [112]:
name= input('enter your name')

enter your namemayar magdy

In [118]:
z ='ten'
print(int(z))

ValueError: invalid literal for int() with base 10: 'ten'

In [117]:
type(name)

function

In [125]:
name='Mayar'
#All Prints are True
print('Maya' in name)
print('May' in name)
print('Ma'  in name)
print('M'  in name)
print(' '  in name)
print('Mayarm'  in name)

True
True
True
True
False
False

In [130]:
salary = int (input ('enter the salary' ))
if salary < 1000:
    print ('You are poor')
else:    
    print ('Work hard')

enter the salary300000
Work hard

In [134]:
if 3 == 3:
    print ('3=3')
if 5==5:
    print('5==5')
print ('Done')

3=3
5==5
Done

In [137]:
a, b,c = input().split()

1 2 3

In [138]:
print(a,b,c)

1 2 3

In [139]:
x=int(input("enter your salary"))
if x<1000:
    print("poor")
elif 1000<x<20000:
    print('good salary')
elif 20000<x<50000:
    print('rich')
else:
    print("very poor")

enter your salary3000
good salary